body {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to left,
    #607eb5f5,
   #afccdf,
  #d7dfe5);
}

/****************************************form page***********************************/
#error{
    
    align-items: center;
    width: 300px;
    font-weight: 100px;
    font-weight: bold;
    font-size: 30px;
    box-shadow: rgba(149, 157, 165, 1.5) 0px 8px 24px;
    background-color: #607eb5f5;
    color: #ffffff;
    height: 80px;
    padding-left: 20px;
    padding-top: 40px;
}

form {
    padding-top: -80px;
    display: flex;
    width: 700px;
    align-items: center;
    box-shadow: rgba(149, 157, 165, 1.5) 0px 8px 24px;
    flex-direction: column;
    background: linear-gradient(to left,
    #d7dfe5,#afccdf,#607eb5f5, 0.1);

}
form h1{
    font-weight: bold;
    color: #ffffff;
    font-size: 50px;
}
label{
    color: #607eb5f5;
    font-size: 20px;
    margin-left: 7px;
}

form input , textarea {
	padding:15px;
    width: 400px;
	display:inline-block;
    margin: 10px;
    background-color:#afccdf;;
    color: white;
    border: 1px solid white;
    color: black;
}
.submit{
    background-color: #607eb5f5;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 18px;
    width: 150px;
    cursor: pointer;
}
.clear{
    width: 150px;
    display: inline;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}


